<div class="checkout-content-summary">
  <div class="w-100 text-uppercase checkout-content-summary-table" data-hook="order_summary">
    <div class="checkout-content-summary-table-order-total">
      <div class="d-table-cell"><%= Spree.t(:total) %>:</div>
      <div class="d-table-cell text-right">
        <span id='summary-order-total' data-currency="<%= Money::Currency.find(order.currency).symbol %>">
          <% if order.line_items.map{|c|c.product.empty_price}.exclude?(true)%>
          <%= order.display_total.to_html %>
          <%else%>
          <%=Spree.t(:empty_price)%>
          <%end%>
        </span>
      </div>
    </div>
  </div>
</div>
