.red_confirmation{
  color: red;
}
.green_confirmation{
  color: green;
  font-weight: bold;
  
}
.text-sku{
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem
}
#rotation{
  max-width: 50rem;
  min-width: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
#rotation img{
  width: 100%;
  cursor: move;
}
#overley{
  padding-top: 0.5rem;
  text-align: center;
}
.product_desc_hidden{
  text-align: center;
  height: auto;
  font-size: 14px;
  line-height: 15px;
  color: #655352;
  overflow: visible;
  font-weight: 400;
}
.product_card:hover{
  transform: scale(1);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.existence {
  font-size: 125%;
  color: #00336E;
  padding-top: 0.5rem;
  -webkit-animation: flicker 5s infinite;
}
@-webkit-keyframes flicker
{
0% {opacity:0.25;}
5% {opacity:.3;}
7% {opacity:.3;}
9% {opacity:.4;}
10% {opacity:.5;}
13% {opacity:.6;}
20% {opacity:.7;}
25% {opacity:.8;}
55% {opacity:1;}
}
@media (max-width: 800px){
  .product_desc_hidden{
    font-size: 0.7rem;
  }
}
